# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/
.env
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Databases
*.sqlite3
*.db
backend/sql_app.db

# IDEs
.vscode/
.idea/
